- if @parent.is_a? OfferComponent
  %h1 Content for component(#{@parent.component_type}) #{link_to @parent.name, @parent}
- elsif @parent.is_a? CommercialOffer
  %h1 Content for commercial offer #{link_to @parent.name, @parent}
- else
  %h1 Content for #{link_to @parent.name, @parent}

.left
  %div
    = render :partial => "select_template"
  %div
    = render :partial => "save_content"

.right
  = render :partial => "pictures"

%div
  = link_to "Back", @parent
