%h1 Content for #{link_to @parent.name, @parent}

.left
  %div
    = render :partial => "select_template"
  %div
    = render :partial => "save_content"

.right
  = render :partial => "pictures"

%div
  = link_to "Back", @parent
