<%= simple_form_for(@document_template) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :content_before %>
    <%= f.input :content_after %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
