= simple_form_for(@document_template) do |f|
  = f.error_notification
  .inputs
    = f.input :name
    = f.input :program_name, :collection => Setting["document_templates"][:program_names]
    = f.input :content_before
    = f.input :content_after
  .actions
    = f.button :submit
