%p#notice= notice
%p
  %b Name:
  = @document_template.name
%p
  %b Program name:
  = @document_template.program_name

= link_to 'Edit', edit_document_template_path(@document_template)
|
\#{link_to 'Back', document_templates_path}
