%table
  %tr
    %th Name
    %th Type
    %th Up
    %th Down
    %th Detach
  - @commercial_offer.component_assignments.each do |comp_assignment|
    - offer_component = comp_assignment.offer_component
    %tr
      %td= link_to offer_component.name, offer_component
      %td= offer_component.component_type
      %td= link_to "UP", move_up_component_assignment_path(comp_assignment), :method => :post
      %td= link_to "DOWN", move_down_component_assignment_path(comp_assignment), :method => :post      
      %td= link_to "DETACH", comp_assignment, :method => :delete
    
