= simple_form_for(@commercial_offer) do |f|
  = f.error_notification
  .inputs
    = f.input :name
    - unless @contact
      = f.input :contact_id, :as => :select, :collection => Contact.all, :label_method => :name, :value_method => :id
    - else
      = f.input :contact_id, :as => :select, :collection => Contact.all, :label_method => :name, :value_method => :id, :selected => @contact.id
  .actions
    = f.button :submit
