= link_to "Document templates", document_templates_path

#commercial_offers
  = render :partial => "commercial_offers"

%hr/
#paginate
  = will_paginate @commercial_offers

%br/
- unless @contact
  = link_to 'New Commercial offer', new_commercial_offer_path
- else
  = link_to "New Commercial offer", new_commercial_offer_path(:contact_id => @contact.id)
