%p#notice= notice
%p
  %b Name:
  = @commercial_offer.name
%p
  = link_to "Edit content", content_of_path(@commercial_offer)
%p
  %b Contact:
  - c = @commercial_offer.contact
  = link_to c.name, c

%p
  = link_to (t :edit_components), edit_components_commercial_offer_path(@commercial_offer)
  
= link_to 'Edit', edit_commercial_offer_path(@commercial_offer)
|
\#{link_to 'Back', commercial_offers_path}

= render :partial => "tasks/tasks", :locals => {:object => @commercial_offer}
