= simple_form_for(@offer_component) do |f|
  = f.error_notification
  .inputs
    = f.input :name
    = f.input :component_type, :collection => Setting.offer_component_types
  .actions
    = f.button :submit
