%h1 Listing offer_components
%p
  - Setting.offer_component_types.each do |component_type|
    %h2 #{component_type.to_s.pluralize}
    %table
      %tr
        %th Name
        %th
        %th
      - @offer_components.of_type(component_type).each do |offer_component|
        %tr
          %td= link_to offer_component.name, offer_component
          %td= link_to 'Edit', edit_offer_component_path(offer_component)
          %td= link_to 'Destroy', offer_component, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to "New offer component", new_offer_component_path
