%p#notice= notice
%p
  %b Name:
  = @offer_component.name
%p
  %b Type:
  = @offer_component.component_type
- if @offer_component.preview_file_name
  %p
    %b= link_to "Download PDF", File::join("/", @offer_component.preview_file_name)
%p
  = link_to 'Edit content', content_of_path(@offer_component)
= link_to 'Edit', edit_offer_component_path(@offer_component)
|
\#{link_to 'Back', offer_components_path}
